@import 'colors.less';

body {
  padding: 20px;
  font-family: 'Muli', sans-serif;
  background: @bgc;
  color: @tc;
}

h1 {
  font-family: 'Frank Ruhl Libre', sans-serif;
  margin-top: 0;
  color: @dark-green;
}
