@import (reference) "../styles/style.less";

.app {
	margin-bottom: 10em;

	&.playing {
		.title {
			opacity: 0.1;
		}
	}

	// .background {
	// 	position: fixed;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	z-index: 1;
	// }

	.title {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		// width: 100vw;
		height: 80vh;
		min-height: 500px;
		padding-right: 20px;
		padding-left: 100px;
		// background: #fff;
		// background: @dark-green;
		// color: @bgc;
		// color: @dark-green;
		z-index: 10;
		transition: opacity 1s ease-out;

		h1 {
		// margin: 0 0 0 80px;
		line-height: 1em;
		}

		h6 {
		margin: 0;
		// color: @dark-grey;
		}

		img {
		// position: absolute;
		// top: 0;
		// margin-left: 20px;
		margin-bottom: -4em;
		width: 300px;
		// opacity: 0.2;
		}

		.countdown {
		font-size: 0.7em;
		opacity: 0.4;
		}

		.title__more-info {
			.ff2;
			// margin: -0.2em 0 40px 100px;
			font-size: 1.1em;
			text-transform: none;
			font-style: italic;
			opacity: 0.7;

		}

	}

	.content {
	  padding: 20px 70px;
	}

	.arrowkeys {
		margin-top: -25px;
		margin-left: 100px;

		h6 {
			margin: 0;
		}
	}
}

.body-section {
	margin-bottom: 6em;
}


.toggle {
  display: flex;

  & > .button {
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2px 0 0 2px;
    border: 1px solid @light-grey;

    & + .button {
      margin-left: 0;
      border-left-width: 0;
      border-radius: 0 0 0 0;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }

  & .button--selected {
    background: @dark-green;
    color: @white;
    cursor: default;
    // pointer-events: none;
  }
}


.field {
	margin-top: 1.3em;
	margin-bottom: 0.2em;

	label {
		&:extend(h6);
	}
}

form {
	transition: opacity 0.2s ease-out;

	h3 {
		padding-top: 0.6em;
		margin-bottom: 0;

		& + .field {
			margin-top: 0.4em;
		}
	}

	.input-addon {
		display: flex;
		align-items: stretch;

		input {
			flex: 1;
		}

		.addon {
			flex: 0 0;
			padding-left: 0.6em;

			button {
				margin: 0;
				height: 100%;
			}
		}
	}

	button {
		margin-top: 1.2em;
	}

	.form-message-error {
		color: @burgundy;
		&:extend(h6);
	}

	&.loading {
		opacity: 0.3;
		pointer-events: none;
	}
}

@media (max-width: 1000px) {
  .app {
	  .title {
	  	padding: 0;
	  	height: auto;

	    h1, h6, .title__more-info, img {
	      margin-left: 30px;
	    }

	    h1 {
	    }

	    img {
	    	margin-bottom: -5em;
	    	margin-left: -30px;
	    }

		.arrowkeys {
			margin-top: -25px;
			margin-left: 30px;

			h6 {
				margin-left: 0;
			}
		}
	  }

	  .content {
	    padding: 20px 30px;
	  }
  }
}
